.Player {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 300px;
}

.Player > div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  text-align: center;
}

.Player > p {
  text-align: center;
}
