.App {
  display: grid;
  gap: 20px;
  grid-template-rows: 60px auto 80px;
  width: 310px;
  margin: 20px auto;
  border: 5px solid steelblue;
  padding: 20px;
  height: 85vh;
  background: papayawhip;
}

.App__Player-List {
  display: grid;
  align-content: start;
  gap: 10px;
  list-style: none;
  padding: 0;
}

.App__buttons {
  display: grid;
  gap: 12px;
}
