.App {
  display: grid;
  gap: 10px;
  grid-template-rows: min-content auto min-content;
  padding: 20px;
  height: 100vh;
  background: papayawhip;
}

.App__Player-List {
  display: grid;
  align-content: start;
  list-style: none;
  padding: 0;
}

.App__buttons {
  display: grid;
  gap: 12px;
}
